.day-shift {
    background-color: #EFD84F;
}
.day-off {
    background-color: #108533;
}

.shift button {
    width: 100%;
}

.night-shift {
    background-color: #248BCC;
}

.no-shift button {
    color: #c0c0c0;
    background-color: #ffffff;
    border-width: 0;
}

.no-shift {
    background-color: black;
}


.no-shift button {
    background-color: whitesmoke;
}


.width-14 {
    width: 10%;
}


.table-fixed{
    table-layout: fixed;
    width: 100%;
}


.black {
    color: black;
}

#datatable_filter label {
    text-align: right;
    display: block;
    width: 100%;
}

#datatable thead {
    margin: 10px;
}


.select2-container--default .select2-selection--single {
    border-radius: 0;
    width: 100%;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0;
    height:auto;
    color: black;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0;
}

.full-width select {
    width: 100%;
}

.week-title {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}

.paginate-arrow {
    padding-left: 20px;
    padding-right: 20px;
}

.paginate-arrow:hover {
    font-size: 18px;
}
.plan-available button.selected {
    background-color: #99EB81;
}
.plan-vacation button.selected {
    background-color: #D58B30;
}
.plan-dayoff button.selected {
    background-color: #559EB1;
}
.plan-sick button.selected {
    background-color: #CC3E30;
}
.icon-small {
    font-size: 10px;
}

.shift button {
    height: 70px;
}
